body,html{
	margin: 0;
	padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}

main{
    display: flex;
}

@media (max-width: 600px) {
	main{
		width: 500px;
	}
    div{
        flex-wrap: wrap;
    }
    img{
    	width: 50%;
    }
}

.top{
	width: 80%;
	margin: 0 auto 0 auto;
}
.header{
	background-color: #e0e0e0;
}
.header a{
	text-decoration: none;
	font-size: 15px;
}
.header li{
	margin: 10px;
}
.header a:hover{
	color: #333;
}
.header ul{
	display: flex;
	justify-content: end;

}
.facebook {
	color: #4460a0;
	padding-right: 20px;
	border-right: solid 1px #333;
}
.twitter {
	color: #00aaec;
	padding-right: 10px;
}
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Logo{
	margin-left: 10px;
}
.links ul{
	display: flex;
  margin-right: 10px;
}
.links li a{
	color: #00cc99;
	padding: 10px;
	text-decoration: none;
}
.links li a:hover{
	color: #313131;
	border-bottom: solid 5px #00cc99;
}
.banner{
	background-image: url(trade4.jpg);
	height: 550px;
	display: flex;
	align-items: center;
	margin-bottom: 60px;

}
.banner h1{
	margin-left: 35px;
	color: #fff;
	font-size: 36px;
}

/*top END*/

/*classlist start*/

.classlist{
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.class{
	width: 80%;
	box-shadow: 0 5px 10px -5px #777;
	border-radius: 10px;
	padding: 10px;
}
.class img{
	display: block;
	margin: auto;
}
.class h3{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #333;
}
.class p{
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 1.5;
	color: #333;
	margin: 8px 10px;
}
.class li{
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 1.5;
	color: #333;
	list-style-type: disc;
	margin: -2px 0 0 30px;
}

/*classlist END*/

/*sheet start*/

.sheet h2{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 60px 0 30px 0;
	color: #333;
}
table{
	width: 85%;
	margin: 20px auto 60px auto;
}
th,td{
	border-top: #dddddd 1px solid;
	border-bottom: #dddddd 1px solid;
	color: #333;
	font-size: 15px;
	padding: 10px 0 10px 30px;
	text-align: left;
}
th{
	background-color: #f7f7f7;
	font-weight: bold;
}
.green{
	color: #00a67d;
}

/*sheet END*/

/*form start*/

form{
	margin: 0 auto;
	background: -webkit-linear-gradient(180deg, rgb(0, 100, 75), rgb(0, 152, 114));
	background:  #e0e0e0;
	padding: 20px;
}
form h2{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	padding: 30px 0 30px 0;
}
textarea{
	width: 70%;
	height: 245px;
}
.form1{
	display: flex;
	justify-content: center;
}
.column{
	position: relative;
	margin-left: 40px;
}
.column label{
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 0;
}
input{
	width: 70%;
	margin-bottom: 20px;
}
button{
	position: absolute;
	bottom: 0px;
	right: 0px;
	background-color: #00cc99;
	border: none;
	color: #fff;
	width: 70px;
	height: 32px;
	border-radius: 5px;
}
button:hover{
	background-color: #333;
}

/*form END*/

/*footer start*/

.footer{
	display: flex;
	justify-content: center;
	padding: 30px 0 55px 0;
	margin: 0 20px ;
}
.footer p{
	font-size: 15px;
	color: #333;
}
.footer a{
	color: #e12d80;
  text-decoration: none;
}

